body{
    background-color: #46a35531;
    color: #306e3b;
}

/*Title*/
h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*Form*/
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.425);
    margin-left: 30%;
    margin-right: 30%;
}
input{
    display: block;
    border: 1px solid #46a356;
}
fieldset{
    margin-top: 5%;
    margin-bottom: 5%;
}
#checkbox{
    display: flex;
}
.btn{
    color: black;
    background-color: #46a356;
    border-radius: 50px;
}
.btn:hover{
    background-color: #5ad86f;
}
#verification{
    margin-left: 5px;
}

/*Responsividade*/
@media (max-width: 680px){
    .form{
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (max-width: 460px){
    .form{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 348px){
    .form{
        margin-left: 3%;
        margin-right: 3%;
    }
}

