*{
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    color: white;
    background-color: #46a356;
}
.logo{
    width: 80px;
    margin-left: 20px;
}
.link{
    margin-top: 20px;
    margin-left: 20px;
}
#link-title-1{
    margin-left: 60%;
}

/*Carousel*/
.carousel{
    width: 39.5%;
    height: 30%;
    margin-top: 25px;
}

/*Section*/
.title{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.text-1{
    background-color: #CBEED1;
    width: 40%;
    height: 50%;
}
.sub-title{
    text-align: center;
    margin-top: 5%;
    margin-right: 25%;
    margin-bottom: 3%;
}
.text-activity{
    margin-right: 20%;
}
.image-project{
    margin-left: 10%;
    width: 70%;
}
.btn{
    color: black;
    background-color: #46a356;
    border-radius: 50px;
    width: 15%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.btn:hover{
    background-color: #5ad86f;
}
.btn a{
    text-decoration: none;
    color: black;
}
.image-advertising{
    width: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
}


/*Footer*/
footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: #46a356;
}
.footer{
    margin-top: 10px;
}
footer div ul{
    text-align: center;
    list-style: none;
}
.color-email{
    color: #FFFFFFA6;
}

/* Margin a mais zerada */
.row{
    --bs-gutter-x: 0 !important;
}

/*Form*/
form, fieldset{
    display: block;
    align-items: center;
}


/*Responsividade*/

@media (max-width: 1224px){
    #link-title-1{
        margin-left: 50%;
    }
}

@media (max-width: 1080px){
    /*.carousel{
        width: 45%;
        height: 45%;
        margin-top: 25px;
    }
    */

}